@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300;400;500;600;700&family=Poppins:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --primary-font: "Poppins", sans-serif;
  --headline-font: "Josefin Sans", sans-serif;

  --primary-bg: #004d40;

  --primary: #e0f2f1;
  --secondary: #4e342e;
}

html {
  font-size: 62.5%;
  font-family: var(--primary-font);
  background: var(--primary-bg);
  background: linear-gradient(90deg, #004d40 20%, #00796b 80%);
  color: var(--primary);
}

h1,
h2,
h3,
h4 {
  font-family: var(--headline-font);
}

h1 {
  font-size: 3rem;
}
h2 {
  font-size: 2.5rem;
}
h3 {
  font-size: 2rem;
}
h4 {
  font-size: 1.8rem;
}

p {
  font-size: 1.6rem;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

/*
--- Header Component styling starts ---
*/

.app {
  max-width: 900px;
  margin: 2rem auto;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;

  margin-bottom: 2rem;
}

.header h1 {
  text-transform: uppercase;
  font-style: italic;
  text-shadow: 2px -2px 2px rgba(78,52,46,1);
}

.header h1 span{
  color: var(--secondary);
}

/*
--- Header Component styling ends ---
*/

/*
--- Button and Timer Component styling starts ---
*/

.btn,
.timer {
  padding: 1rem 1.5rem;
  font-size: 1.6rem;
  outline: none;
  color: var(--primary);
  cursor: pointer;
  font-weight: 600;
}

.btn-submit,
.btn-next {
  border: 2px solid var(--primary);
  border-radius: 10px;
  background: #4e342e;
  transition: all 0.4s ease;
}

.timer {
  border-radius: 10px;
  border: 2px solid var(--primary);
}

.btn-next {
  background: transparent;
}

.btn-next:hover {
  background: #4e342e;
}

.btn-submit:hover {
  background: transparent;
}

.btn-log {
  border-top-right-radius: 20px;
  border-bottom-left-radius: 20px;
  border: 2px solid var(--primary);
  background: #4e342e;
  transition: all 0.4s ease;
}

.btn-log:hover {
  border-top-right-radius: 0;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 20px;
  border-top-left-radius: 20px;
  font-style: italic;
  background: transparent;
}

/*
--- Button and Timer Component styling ends ---
*/


/*
--- MainContent Component styling starts ---
*/

main {
  min-height: 75vh;
  display: flex;
  flex-direction: column;
}

main .welcome {
  text-align: center;
}

.welcome h2,
.welcome h3 {
  margin-bottom: 1rem;
  text-transform: capitalize;
  letter-spacing: 1px;
}

/*
--- MainContent Component styling ends ---
*/

/*
--- Setting quiz form styling starts ---
*/

form {
  display: flex;
  flex-direction: column;

  width: 60%;
  margin: 2rem auto;
}

form select,
form input {
  width: 100%;
  margin: 1.5rem 0;
  padding: 1rem 1.5rem;
  outline: none;
  border: none;
  border-radius: 15px;
  font-size: 1.7rem;
  font-weight: 500;
  color: #444;
}

/*
--- Setting quiz form styling ends ---
*/

/*
--- Footer component styling starts ---
*/

.footer {
  text-align: center;
  width: 100%;
  margin-top: auto;
  padding: 1.5rem 2rem;
  border-top: 1px solid var(--primary);
}

.footer p {
  font-size: 1.4rem;
}

.footer p span {
  font-weight: 700;
  font-style: italic;
  color: #4e342e;
  font-size: 1.6rem;
}

/*
--- Footer component styling ends ---
*/

/*
--- Loader component styling starts ---
*/

.loaderContainer {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.loader {
  font-size: 1.8rem;
  font-weight: 700;
  font-family: var(--headline-font);
  letter-spacing: 2;
  text-transform: uppercase;
}

/*
--- Loader component styling ends ---
*/

/*
--- Error component styling starts ---
*/

.error {
  text-align: center;
  font-size: 1.6rem;
}

.error p{
  font-weight: 500;
  padding: 2rem;
  margin-bottom: 2rem;
  background-color: var(--secondary);
  border-radius: 100px;
}

/*
--- Error component styling ends ---
*/

/*
--- MultipleChoice, BooleanChoice, Options and ShowResult components styling starts ---
*/

.multipleChoice,
.booleanChoice {
  display: flex;
  flex-direction: column;
}

.multipleChoice h2,
.booleanChoice h2 {
  font-family: var(--primary-font);
  font-weight: 500;
  font-size: 2rem;
  width: 80%;
  margin: 2rem auto;
}

.options,
.showResult {
  width: 80%;
  margin: auto;
  padding: 0 2rem;
}

.options button,
.showResult li {
  width: 100%;
  text-align: left;
  margin-bottom: 1.5rem;
  padding: 1rem 1.5rem;
  border-radius: 20px;
  background: var(--secondary);
  color: var(--primary);
  font-size: 1.7rem;
  font-weight: 500;
  border: 2px solid var(--primary);
  transform: scale(100%);
  cursor: pointer;
  transition: all 0.3s ease;
}

.booleanChoice .options {
  display: flex;
  align-items: center;
  justify-content: center;
}

.booleanChoice .options button {
  width: 20%;
  margin: 2rem;
}

.options button:hover,
.options button.correct {
  transform: scale(95%);
  background: transparent;
}

.options button.answer {
  transform: scale(95%);
}

.btn-sec {
  width: 80%;
  margin: 3rem auto;
  padding: 0 2rem;

  display: flex;
  justify-content: end;
}

/*
--- MultipleChoice, BooleanChoice, Options and ShowResult components styling ends ---
*/

/*
--- Progress component and QuizHeader styling starts ---
*/

.quizHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.resultSection .quizHeader {
  margin: 2rem 0;
}

.progress {
  width: 80%;
  margin: 2rem auto;
  padding: 0 2rem;

  display: grid;
  justify-content: space-between;
  gap: 1.2rem;
  grid-template-columns: auto auto;
  font-size: 1.8rem;
  color: var(--primary);
}

.progress progress {
  -webkit-appearance: none;
  width: 100%;
  height: 14px;
  grid-column: 1 / -1;
}

::-webkit-progress-bar {
  background-color: var(--primary);
  border-radius: 50px;
}
::-webkit-progress-value {
  background-color: var(--secondary);
  border-radius: 50px;
}

/*
--- Progress component and QuizHeader styling ends ---
*/

/*
--- Mobile responsive design styling starts ---
*/

@media(max-width: 768px){
  .app{
    padding: 0 2rem;
  }

  form{
    width: 100%;
  }

  .multipleChoice h2, .booleanChoice h2{
    width: 100%;
    padding: 0 1rem;
  }

  .options, .showResult{
    width: 100%;
    padding: 0 1rem;
  }

  .booleanChoice .options button{
    width: 50%;
  }

  .btn-sec{
    width: 100%;
    padding: 0 1.5rem;
  }

  .progress{
    width: 100%;
    padding: 0 1.5rem;
  }
}

/*
--- Mobile responsive design styling ends ---
*/
